.containerAll{
  background-color: #111;
}

.slider-section {
  padding: 1rem 0; /* Ajusta el padding según sea necesario */
  position: relative; /* Añade posición relativa para alinear el pseudo-elemento */
  background-image: url("/assets/backgCarSec.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white; /* Color de texto dentro del área del slider */
}


.slider-container {
  overflow: hidden;
  width: min(95vw, 80rem); /* Ancho máximo del slider para pantallas grandes */
  margin: auto;
  position: relative;
  z-index: 0; /* Asegura que el slider esté por debajo del footer */
}

.slider {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  height: 25rem; /* Ajusta la altura del slider según sea necesario */
  position: relative;
  overflow: hidden; /* Asegúrate de que el contenido no se desborde */
}

.slider:hover .slider-list {
  animation-play-state: paused; /* Pausa la animación al posar el mouse sobre el slider */
}

.slider:hover {
  cursor: pointer; /* Cambia el cursor al pasar sobre el slider para indicar interactividad */
}

.slider::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
      to right,
      #111,
      transparent 30%,
      transparent 70%,
      #111
  );
  pointer-events: none;
}

.slider-list {
  --width: 15rem; /* Ajusta el ancho de cada imagen para pantallas grandes */
  --speed: 40s;
  position: absolute;
  display: flex;
  width: calc(3 * var(--width));
  list-style: none; /* Elimina los marcadores de la lista */
  padding: 0; /* Asegúrate de que no haya padding adicional */
  margin: 0; /* Asegúrate de que no haya margen adicional */
  justify-content: space-between; /* Distribuye el espacio entre las imágenes */
}

.slider-list > * {
  flex-grow: 1;
  text-align: center;
  width: var(--width);
  margin-right: 3rem; /* Ajusta el espacio horizontal entre las imágenes */
}

.slider-list img {
  max-width: 100%; /* Asegura que las imágenes no se desborden */
  height: 200px; /* Ajusta automáticamente la altura */
  display: block; /* Elimina el espacio adicional debajo de las imágenes */
  width: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin recortarse */
}

.slider-list:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento para evitar espacio extra */
}

.slider-list:nth-child(1) {
  animation: slider1 var(--speed) linear infinite;
}

@keyframes slider1 {
  0% {
      transform: translateX(0rem);
  }
  50% {
      transform: translateX(calc(-1 * 3 * var(--width)));
  }
  50.01% {
      transform: translateX(calc(+1 * 3 * var(--width)));
  }
  100% {
      transform: translateX(0rem);
  }
}

.slider-list:nth-child(2) {
  animation: slider2 var(--speed) linear infinite;
}

@keyframes slider2 {
  0% {
      transform: translateX(calc(+1 * 3 * var(--width)));
  }
  100% {
      transform: translateX(calc(-1 * 3 * var(--width)));
  }
}

h3 {
  font-size: 80%; /* Tamaño de fuente más pequeño para los títulos */
}

p {
  font-size: small; /* Tamaño de fuente más pequeño para el texto */
}

.backgroundImages {
  background-color: #333333; /* Color de fondo para el contenedor de imágenes */
}
