<div class="containerAll pt-2 pb-2">
<section class="slider-section">
  <div class="slider-container">
      <div class="slider">
          <ul class="slider-list">
              <li *ngFor="let item of carteleraSec.slice(3, 6)" class="backgroundImages border border-2 border-secondary-subtle rounded">
                  <div class="slide-item">
                      <img [src]="item.urlImagenPromo" class="img-fluid">
                      <div class="promo-content">
                          <h3>{{ item.tituloPromo }}</h3>
                          <p>{{ item.textoPromo }}</p>
                      </div>
                  </div>
              </li>
          </ul>
          <ul class="slider-list" aria-hidden="true">
              <li *ngFor="let item of carteleraSec.slice(3, 6)" class="backgroundImages border border-2 border-secondary-subtle rounded">
                  <div class="slide-item">
                      <img [src]="item.urlImagenPromo" class="img-fluid">
                      <div class="promo-content">
                          <h3>{{ item.tituloPromo }}</h3>
                          <p>{{ item.textoPromo }}</p>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</section>
</div>

