#containerAll{
    background-color: rgb(249, 232, 226);
}

/* formato de los titulos */ 
.title {
    padding: 10px 20px;
    min-width: 300px;
    text-align: center;
    position: relative;
    border: 2px solid #4e364a;
    z-index: 1;
    color: white;
    background-color: #997b7f;
  }
  
  .title::before {
    position: absolute;
    content: "";
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    top: -3px;
    left: -3px;
    background-image: 
    linear-gradient(135deg, #4e364a 0, #4e364a 20px, transparent 20px, transparent 100%),
    linear-gradient(-135deg, #4e364a 0, #4e364a 20px, transparent 20px, transparent 100%),
    linear-gradient(-45deg, #4e364a 0, #4e364a 20px, transparent 20px, transparent 100%),
    linear-gradient(45deg, #4e364a 0, #4e364a 20px, transparent 20px, transparent 100%);
  }


/* formato de los modales */ 
.modal-menu {
    background: linear-gradient(to right, #d8a374, rgb(81, 86, 74)) !important;
    color: #fff;
    border-radius: 10px;
}

#btn-group{
    background-color: #f0e6be;
    background-size:cover
}



 .bordesYBackGrCardGdepPedAnteriores, .bordesYBackGrCardGdepPedXId, #bordesYBackGrLisPedEdit, .borderFormAgPed {
    background: url("/assets/donasBackgroundMultiMAS.jpg");
    background-size:cover;
    
}

.cardGrandepPedDia, .modalitoEditPedid, #backGrFormAgPed {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
    background: linear-gradient(to right, #968092, rgb(246, 204, 133)) !important;
    color: #fff;
    border-radius: 10px; 
}

 .divPediAnter, .divPedixId {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
    background: linear-gradient(to right,  #a16b97, rgb(251, 199, 111)) !important;
    color: #fff;
    border-radius: 10px; 
}

/* formato para cards con listas de pedidos anteriores */ 
.card-body{
  
    background: linear-gradient(to right,  #a16b97, rgb(160, 208, 146)) !important;
}










