<div class="container-fluid">

    <!-- BOTON PARA CERRAR Y VOLVER AL PANEL DE CONTROL -->

    <div class="container-fluid">
        <div class="d-flex justify-content-end">
            <a class="btnPanelDeControl" routerLink="/paneldecontrol">
                <i class="far fa-window-close fa-3x text-secondary"></i>
            </a>
        </div>
    </div>

    <!-- BOTONES DE DESCARGAS E INFO -->
    <div class="border border border-secondary border-2 rounded pt-4 ps-5 pe-5 mb-4" id="containerAll">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="btn-group border border-secondary border-2 pt-1 ps-2 pe-1 ms-auto" id="btn-group"
                    style="margin: 0 auto;">
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <button type="button" class="btn btn-primary btn-sm rounded-pill btn-block"
                                (click)="mostrarOcultarModalInfo(templateModalInfo)">
                                INFO
                            </button>
                        </div>
                        <div class="col-md-12 mb-2">
                            <button type="button" (click)="exportToExcelOnClick()"
                                class="btn btn-danger btn-success btn-sm rounded-pill btn-block">
                                DESCARGAR LISTA COMPLETA
                            </button>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>


        <!-- MODAL QUE CON INFORMACION DE USO DEL COMPONENTE O PAGINA-->

        <div class="container-fluid">
            <ng-template #templateModalInfo>
                <div class="container-fluid modal-menu">
                    <div class="modal-header text-center">
                        <h4 class="modal-title">COMO USAR</h4>
                        <div class="">
                            <button type="button" class="btn btn-outline-light btn-sm" (click)="modalInfo.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>



        <!-- PEDIDOS X FECHA -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="border border-secondary border-2 rounded pt-4 ps-5 pe-5 mb-4
                         bordesYBackGrCardGdepPedAnteriores">
                        <div class="divPediAnter border border-secondary border-2 rounded pt-4 ps-5 pe-5 mb-4">

                            <div class="row">
                               <!-- Botón ir a sección -->
                               <div class="col-1 ms-auto">
                                <button class=" btn btn-outline-secondary btn-md"
                                    title="IR A BUSCAR PEDIDOS POR N° DE PEDIDO O ID"
                                    (click)="scrollASeccion('anclaBscXId')">
                                    <i class="fas fa-arrow-circle-down"></i>
                                </button>
                            </div>
                                <div class="col-12 text-center">
                                    <h6 class="title col-6 mx-auto" id="anclaBscXFec">BUSCAR PEDIDOS POR FECHA</h6>
                                    <hr>
                                    <!-- boton abrir modalitoPedidosXFecha-->
                                    <button class="btn btn-outline-light btn-md" title="Buscar pedidos por fecha"
                                        (click)="mostrarOcultarModalitoPedidosXFecha(); 
                                     modalitoPedidosXId = false;
                                     modalitoEditPedid = false;
                                     modalitoAgrDetPed = false;
                                     listaPedXFechaVacia()" type="button">
                                        Buscar <i class="fas fa-search"></i>
                                    </button>
                                    <br>
                                    <br>
                                </div>
                            </div>

                            <div *ngIf="modalitoPedidosXFecha">
                                <form (ngSubmit)="listaDePedidosXFecha(fecha)" novalidate #f="ngForm"
                                    class="formPedidosXFecha">
                                    <!-- buscar pedidos por fecha-->
                                    <div class="row d-flex justify-content-center">
                                        <h5 class="card-title pb-3 text-center"><small>Ingresar una fecha</small></h5>
                                        <br>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <input [(ngModel)]="fecha" type="text" class="form-control mb-3"
                                                    name="fechabuscar" placeholder="aaaa-mm-dd" maxlength="10"
                                                    title="El formato es: aaaa-mm-dd, 4 cifras para año - 2 cifras para mes - 2 cifras para dia"
                                                    (click)="limpiarInputs()">
                                                <div class="input-group-append">
                                                    <!-- boton buscar -->
                                                    <button class="btn btn-light border border-secondary" title="Buscar"
                                                        type="submit">
                                                        <i class="far fa-check-circle"></i>
                                                    </button>
                                                    <!-- boton borrar -->
                                                    <button class="btn btn-light border border-secondary" title="borrar"
                                                        type="button" (click)="listaPedXFechaVacia(); 
                                                                               modalitoEditPedid = false;
                                                                               modalitoAgrDetPed = false">
                                                        <i class="far fa-times-circle"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- renderizacion de lista de pedidos por fecha -->
                                <div class="row mt-4">
                                    <div class="col-md-4 mx-auto" *ngFor="let pedidosXFe of listaPedidosXFecha">
                                        <div class="card" (click)="seleccionarIdPedido(pedidosXFe.idPedido)">
                                            <div class="card-body">


                                                <div class="card-body">

                                                    <h5 class="card-title text-center">PEDIDO N°:
                                                        {{pedidosXFe.idPedido}}
                                                    </h5>
                                                    <br>
                                                    <h5 class="card-title  text-center">{{pedidosXFe.nombreCliente}}
                                                    </h5>
                                                    <br>
                                                    <br>
                                                    <p class="card-text"><strong>ID del Pedido: </strong> <span
                                                            class="text-white">{{pedidosXFe.idPedido}}</span></p>
                                                    <p class="card-text"><strong>Telefono: </strong> <span
                                                            class="text-white">{{pedidosXFe.telefonoCliente}}</span></p>
                                                    <p class="card-text"><strong>Direccion: </strong> <span
                                                            class="text-white">{{pedidosXFe.direccionCliente}}</span>
                                                    </p>
                                                    <p class="card-text"><strong>Localidad: </strong> <span
                                                            class="text-white">{{pedidosXFe.localidadCliente}}</span>
                                                    </p>
                                                    <p class="card-text"><strong>Platos: </strong> <span
                                                            class="text-white">{{pedidosXFe.listaPlatosDelPedido}}</span>
                                                    </p>


                                                    <!-- botones edicion platos o detalle pedidosS -->
                                                    <div class="row justify-content-center">
                                                        <!-- Boton editar platos -->
                                                        <button class="btn btn-outline-light btn-sm col-3"
                                                            title="Editar platos" type="button" (click)="limpiarInputs();
                                                                      listaDetallePedidosXIdPedido(pedidosXFe.idPedido);
                                                                      mostrarOcultarModalitoEditDetallePedid();
                                                                      modalitoInputEditDetPedid = false; 
                                                                      modalitoTdEditDetPedid = true;
                                                                      modalitoAgrDetPed = false;                                                                     
                                                                      scrollASeccion('anclaDetPedEditYList');">
                                                            <i class="far fa-edit"></i>
                                                        </button>
                                                        <!-- Boton agregar platos -->
                                                        <button class="btn btn-outline-light btn-sm col-3"
                                                            title="Agregar platos" type="button" (click)="limpiarInputs();
                                                                       mostrarOcultarModalitoAgrDetPed();
                                                                       modalitoEditPedid = false;
                                                                       scrollASeccion('anclaAgregDetPed');">
                                                            <i class="fas fa-plus small"></i>
                                                        </button>
                                                    </div>
                                                    <br>



                                                    <p class="card-text"><strong>Fecha: </strong> <span
                                                            class="text-white">{{pedidosXFe.fecha}}</span></p>
                                                    <p class="card-text"><strong>Hora: </strong> <span
                                                            class="text-white">{{pedidosXFe.hora}}</span>
                                                    </p>
                                                    <p class="card-text"><strong>Importe $: </strong> <span
                                                            class="text-white">{{pedidosXFe.importeTotalPedido}}</span>
                                                    </p>
                                                    <p class="card-text"><strong>Confirmado: </strong> <span
                                                            class="text-white">{{pedidosXFe.pedidoConfirmado}}</span>
                                                    </p>

                                                </div>


                                                <div class="d-flex justify-content-center">
                                                    <!-- boton editar -->
                                                    <button class="btn btn-sm border border-white rounded-5 text-white"
                                                        type="button" title="Editar datos del pedido"
                                                        (click)="openModalEditarPedidos(templateEditarPedido);
                                                                obtPedidoXId(pedidosXFe.idPedido, pedidosXFe.fecha, pedidosXFe.hora, 
                                                                pedidosXFe.nombreCliente, pedidosXFe.telefonoCliente, 
                                                                pedidosXFe.direccionCliente, pedidosXFe.localidadCliente, 
                                                                pedidosXFe.listaPlatosDelPedido, pedidosXFe.importeTotalPedido, pedidosXFe.pedidoConfirmado?? false)">
                                                        <i class="far fa-edit small"></i>
                                                    </button>

                                                    <!-- boton borrar -->
                                                    <button class="btn btn-sm border border-white rounded-5 text-white"
                                                        type="button" title="Eliminar pedido"
                                                        (click)="limpiarInputs(); eliminarPedido(pedidosXFe.idPedido)">
                                                        <i class="far fa-trash-alt small"></i>
                                                    </button>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <!-- MODAL EDITAR PEDIDO -->

                            <ng-template #templateEditarPedido>
                                <div class="modal-header" id="backGTitl">
                                    <h4 class="modal-title text-white">EDITAR</h4>
                                    <div class="card-icon card-icon-large">
                                        <i class=""></i>
                                    </div>
                                    <button type="button" class="btn btn-outline-light btn-sm"
                                        (click)="modalEditarPedido.hide()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="container-fluid modal-menu text-white" id="backGfor2">
                                    <div class="border border-white border-2 rounded m-3 p-3" id="backGfor">
                                        <div class="border border-white border-2 rounded m-3 p-3">
                                            <form (ngSubmit)="editarPedido()" novalidate #f="ngForm">
                                                <div class="table-responsive">
                                                    <div class="form-group col-12 pb-3">
                                                        <label for="idPedido">ID PEDIDO</label>
                                                        <input readonly type="number" class="form-control" id="idPedido"
                                                            name="idPedido" [(ngModel)]="idPedido" required>
                                                    </div>
                                                    <div class="form-group col-12 pb-3">
                                                        <label for="pedidoConfirmado">PEDIDO CONFIRMADO</label>
                                                        <select class="form-select" [(ngModel)]="pedidoConfirmado"
                                                            name="pedidoConfirmado" required>
                                                            <option *ngFor="let trueOFalse of listaPeConfTrueFalse"
                                                                [value]="trueOFalse">
                                                                {{ trueOFalse}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-12 pb-3">
                                                        <label for="fecha">FECHA </label>
                                                        <input readonly type="text" class="form-control" id="fecha"
                                                            name="fecha" [(ngModel)]="fecha" required>
                                                    </div>
                                                    <div class="form-group col-12 pb-3">
                                                        <label for="horaPedido">HORA</label>
                                                        <input readonly type="text" class="form-control" id="horaPedido"
                                                            name="horaPedido" [(ngModel)]="horaPedido" required>
                                                    </div>
                                                    <div class="form-group col-12 pb-3">
                                                        <label for="nombreCliente">NOMBRE CLIENTE</label>
                                                        <input type="text" class="form-control" id="nombreCliente"
                                                            name="nombreCliente" [(ngModel)]="nombreCliente" required>
                                                    </div>
                                                    <div class="form-group col-12 pb-3">
                                                        <label for="telefonoCliente">TELEFONO CLIENTE</label>
                                                        <input type="text" class="form-control" id="telefonoCliente"
                                                            name="telefonoCliente" [(ngModel)]="telefonoCliente"
                                                            required>
                                                    </div>
                                                    <div class="form-group col-12 pb-3">
                                                        <label for="direccionCliente">DIRECCION</label>
                                                        <input type="text" class="form-control" id="direccionCliente"
                                                            name="direccionCliente" [(ngModel)]="direccionCliente"
                                                            required>
                                                    </div>
                                                    <div class="form-group col-12 pb-3">
                                                        <label for="hora">LOCALIDAD</label>
                                                        <input type="text" class="form-control" id="localidadCliente"
                                                            name="localidadCliente" [(ngModel)]="localidadCliente"
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="form-group col-12 pb-3">
                                                    <label for="importeTotalPedido">TOTAL</label>
                                                    <input readonly type="number" class="form-control"
                                                        id="importeTotalPedido" name="importeTotalPedido"
                                                        [(ngModel)]="importeTotalPedido" required>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button class="btn btn-outline-light">
                                                            Enviar
                                                        </button>
                                                        <br>
                                                        <br>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>


                    <!-- LISTA (PODRIA DECIRSE TB MODALITO) DE DETALLES DEL PEDIDO PARA EDITAR -->

                    <div class="container-fluid" *ngIf="modalitoEditPedid" id="anclaDetPedEditYList">
                        <div class="border border-secondary border-2 rounded pt-4 ps-5 pe-5 mb-4"
                            id="bordesYBackGrLisPedEdit">
                            <div class="modalitoEditPedid">
                                <div class="containerBtnTdEditPedid">
                                    <!-- Boton cerrar de la lista de pedidos anteriores -->
                                    <button *ngIf="modalitoTdEditDetPedid" class="btn btn-outline-light btn-sm m-2"
                                        type="button" title="Cerrar" (click)="mostrarOcultarModalitoEditDetallePedid()">
                                        <i class="far fa-times-circle small text-white"></i>
                                    </button>
                                </div>
                                <table class="table text-white">
                                    <thead>
                                        <td *ngIf="modalitoInputEditDetPedid">
                                            <div class="row">
                                                <div class="pb-1">
                                                    <!-- Boton cerrar del modalitoTdEditDetPedid -->
                                                    <button class="btn btn-outline-light btn-sm" type="button"
                                                        title="Cerrar" type="button" (click)="mostrarOcultarModalitoTdEditDetPedid(); 
                                                                                             mostrarOcultarModalitoEditDetPedid();
                                                                                             pedidosXIdVacio()">
                                                        <i class="far fa-times-circle small text-white"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>

                                        <tr *ngIf="modalitoTdEditDetPedid">
                                            <th class="text-center" scope="col">ID DET PED</th>
                                            <th class="text-center" scope="col">ID PLATMOS</th>
                                            <th class="text-center" scope="col">PORCION</th>
                                            <th class="text-center" scope="col">PLATO</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let detallePedidosLi of detallePedidosListxIdPedido"
                                            class="table-bordered">

                                            <td *ngIf="modalitoTdEditDetPedid"
                                                class="text-center align-middle border-top">
                                                {{detallePedidosLi.idDetallePedido}}</td>
                                            <td *ngIf="modalitoTdEditDetPedid"
                                                class="text-center align-middle border-top">
                                                {{detallePedidosLi.platosAMostrar.idPlatosAMostrar}}</td>
                                            <td *ngIf="modalitoTdEditDetPedid"
                                                class="text-center align-middle border-top">
                                                {{detallePedidosLi.porcionPlato}}</td>
                                            <td *ngIf="modalitoTdEditDetPedid"
                                                class="text-center align-middle border-top">
                                                {{detallePedidosLi.platosAMostrar.platos.nombrePlato}}</td>



                                            <td *ngIf="modalitoTdEditDetPedid"
                                                class="text-center align-middle border-top">
                                                <!-- Boton editar -->
                                                <button class="btn btn-outline-light btn-sm" title="Editar plato"
                                                    type="button" (click)="mostrarOcultarModalitoEditDetPedid();
                                                     mostrarOcultarModalitoTdEditDetPedid();
                                                     obtenerDetPedXId(detallePedidosLi.idDetallePedido, 
                                                     detallePedidosLi.pedidos.idPedido, 
                                                     detallePedidosLi.platosAMostrar.idPlatosAMostrar, 
                                                     detallePedidosLi.porcionPlato, 
                                                     detallePedidosLi.platosAMostrar.platos.nombrePlato)">
                                                    <i class="far fa-edit small"></i>
                                                </button>
                                                <!-- Boton borrar -->
                                                <button class="btn btn-outline-light btn-sm" title="Eliminar plato"
                                                    type="button" (click)="eliminarDetallePedidos(detallePedidosLi.idDetallePedido,
                                                    detallePedidosLi.pedidos.idPedido);">
                                                    <i class="far fa-trash-alt small"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- Formulario editar detalle del pedido -->
                                <form (ngSubmit)="editarDetallePedidos();" novalidate #f="ngForm"
                                    class="text-center justify-content-center">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr *ngIf="modalitoInputEditDetPedid">
                                                    <th class="text-center" scope="col" [style.display]="'none'">ID DET
                                                        PED
                                                    </th>
                                                    <th class="text-center" scope="col" [style.display]="'none'">ID DET
                                                        PED </th>
                                                    <th class="text-center" scope="col">NUEVO PLATO </th>
                                                    <th class="text-center" scope="col">PORCION</th>
                                                    <th class="text-center" scope="col">PLATO ACTUAL</th>
                                                    <th class="text-center" scope="col">EDICION</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="col-2">

                                                    <td *ngIf="modalitoInputEditDetPedid" [style.display]="'none'"
                                                        readonly class="text-center align-middle border-top">
                                                        <input [(ngModel)]="idDetallePedido" type="number"
                                                            class="form-control" name="idDetPed">
                                                    </td>
                                                    <td *ngIf="modalitoInputEditDetPedid"
                                                        class="text-center align-middle border-top">
                                                        <select class="form-select" [(ngModel)]="idPlatosAMostrar"
                                                            name="idPlaMos" required>
                                                            <option disabled selected>{{idPlatosAMostrar}} -
                                                                {{nombrePlato}}
                                                            </option>
                                                            <option *ngFor="let platoAMostrar of platosAMostrarList"
                                                                [value]="platoAMostrar.idPlatosAMostrar">
                                                                {{ platoAMostrar.idPlatosAMostrar }} - {{
                                                                platoAMostrar.platos.nombrePlato }}
                                                            </option>
                                                        </select>
                                                    </td>

                                                    <td *ngIf="modalitoInputEditDetPedid"
                                                        class="text-center align-middle border-top">
                                                        <input [(ngModel)]="porcionPlato" type="number" min="1" max="10"
                                                            class="form-control" name="porcPla">
                                                    </td>
                                                    <td *ngIf="modalitoInputEditDetPedid"
                                                        class="text-center align-middle border-top">
                                                        <input [(ngModel)]="nombrePlato" type="text" readonly
                                                            title="Seleccionar el plato a editar en la columna 'NUEVO PLATO' "
                                                            class="form-control" name="nombrePla">
                                                    </td>
                                                    <td *ngIf="modalitoInputEditDetPedid"
                                                        class="text-center align-middle border-top">
                                                        <!-- Boton enviar edicion -->
                                                        <button
                                                            class="btn btn-light rounded-circle border border-secondary"
                                                            title="Enviar actualizacion" type="submit">
                                                            <i class="far fa-check-circle small"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- FORMULARIO AGREGAR PLATO O DETALLES PEDIDO -->

        <div class="container-fluid">

            <!-- Formulario agregar detalle del pedido -->
            <div *ngIf="modalitoAgrDetPed" id="anclaAgregDetPed">
                <div class="border border-secondary border-2 rounded pt-4 ps-5 pe-5 mb-4 borderFormAgPed">
                    <form (ngSubmit)="agregarDetallePedidos()" novalidate #f="ngForm"
                        class="text-center justify-content-center p-2" id="backGrFormAgPed">
                        <div class="col-1" style="padding-right: 10%;">
                            <!-- Boton cerrar del modalitoTdEditDetPedid -->
                            <button class="btn btn-outline-light btn-sm" type="button" title="Cerrar" type="button"
                                (click)="modalitoAgrDetPed = false">
                                <i class="far fa-times-circle small text-white"></i>
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>

                                        <th class="text-center" scope="col">ID PEDIDO</th>
                                        <th class="text-center" scope="col">PLATO</th>
                                        <th class="text-center" scope="col">PORCION</th>
                                        <th class="text-center" scope="col">EDICION</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="col-2">

                                        <td class="text-center align-middle border-top">
                                            <input readonly [(ngModel)]="idPedidoGuardDetPed" type="number" min="1"
                                                class="form-control" name="idPedido">
                                        </td>
                                        <td class="text-center align-middle border-top">
                                            <select class="form-select" [(ngModel)]="idPlatosAMostrar" name="idPlaMos"
                                                type="text" required>
                                                <option disabled selected>Seleccionar</option>
                                                <option *ngFor="let platoAMostrar of platosAMostrarList"
                                                    [value]="platoAMostrar.idPlatosAMostrar">
                                                    {{ platoAMostrar.idPlatosAMostrar }} - {{
                                                    platoAMostrar.platos.nombrePlato }}
                                                </option>
                                            </select>
                                        </td>

                                        <td class="text-center align-middle border-top">
                                            <input [(ngModel)]="porcionPlato" type="number" min="1" max="10"
                                                class="form-control" name="porcPla">
                                        </td>

                                        <td class="text-center align-middle border-top">
                                            <!-- Boton enviar nuevo detalle pedido -->
                                            <button class="btn btn-light rounded-circle border border-secondary"
                                                title="Enviar actualizacion" type="submit">
                                                <i class="far fa-check-circle small"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>


            <!-- pedidos x id -->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="border border-secondary border-2 rounded pt-4 ps-5 pe-5 mb-4
                         bordesYBackGrCardGdepPedXId">
                        <div class="divPedixId border border-secondary border-2 rounded pt-4 ps-5 pe-5 mb-4">

                            <div class="row">
                                <!-- Botón ir a sección -->
                                <div class="col-1 ms-auto">
                                    <button class=" btn btn-outline-secondary btn-md"
                                        title="IR A BUSCAR PEDIDOS POR FECHA"
                                        (click)="scrollASeccion('anclaBscXFec')">
                                        <i class="fas fa-arrow-circle-up"></i>
                                    </button>
                                </div>
                                <div class="col-12 text-center">
                                    <h6 class="title col-6 mx-auto" id="anclaBscXId">BUSCAR POR NUMERO DE PEDIDO</h6>
                                    <hr>
                                    <!-- boton abrir modalitoPedidosXId-->
                                    <button class="btn btn-outline-light btn-md"
                                        title="Buscar por id o numero de pedido" (click)="mostrarOcultarModalitoPedidosXId();
                                    fechaPredeterminda();
                                     pedidosXIdVacio(); 
                                     modalitoPedidosXFecha = false;
                                     modalitoEditPedid = false;
                                     modalitoAgrDetPed = false;" type="button">
                                        Buscar <i class="fas fa-search"></i>
                                    </button>
                                    <br>
                                    <br>
                                </div>
                            </div>
                            <div *ngIf="modalitoPedidosXId">
                                <form (ngSubmit)="obtenerPedidoXId(idPedido)" novalidate #f="ngForm"
                                    class="formPedidosXid">
                                    <!-- buscar pedidos por id-->
                                    <div class="row d-flex justify-content-center">
                                        <h5 class="card-title pb-3 text-center"><small>Ingresar un N° de pedido o
                                                ID</small></h5>
                                        <br>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <input [(ngModel)]="idPedido" type="number" class="form-control mb-3"
                                                    name="idPedidoXId" (click)="limpiarInputs()">
                                                <div class="input-group-append">
                                                    <!-- boton buscar -->
                                                    <button class="btn btn-light border border-secondary" title="Buscar"
                                                        type="submit">
                                                        <i class="far fa-check-circle"></i>
                                                    </button>
                                                    <!-- boton borrar -->
                                                    <button class="btn btn-light border border-secondary" title="borrar"
                                                        type="button" (click)="pedidosXIdVacio(); 
                                                                               modalitoEditPedid = false; 
                                                                               modalitoAgrDetPed = false">
                                                        <i class="far fa-times-circle"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- renderizacion de lista de pedidos por id -->
                                <div class="row mt-4">
                                    <div class="col-md-4 mx-auto" *ngIf="pedidos">
                                        <div class="card" (click)="seleccionarIdPedido(pedidos.idPedido)">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">PEDIDO N°: {{pedidos.idPedido}}
                                                </h5>
                                                <br>
                                                <h5 class="card-title  text-center">{{pedidos.nombreCliente}}</h5>
                                                <br>
                                                <br>
                                                <p class="card-text"><strong>ID del Pedido:
                                                    </strong>{{pedidos.idPedido}}<span class="text-white"></span></p>
                                                <p class="card-text"><strong>Telefono:
                                                    </strong>{{pedidos.telefonoCliente}}<span class="text-white"></span>
                                                </p>
                                                <p class="card-text"><strong>Direccion:
                                                    </strong>{{pedidos.direccionCliente}}<span
                                                        class="text-white"></span>
                                                </p>
                                                <p class="card-text"><strong>Localidad:
                                                    </strong>{{pedidos.localidadCliente}}<span
                                                        class="text-white"></span>
                                                </p>
                                                <p class="card-text"><strong>Platos:
                                                    </strong>{{pedidos.listaPlatosDelPedido}}<span
                                                        class="text-white"></span>
                                                </p>

                                                <!-- botones edicion platos o detalle pedidosS -->
                                                <div class="row justify-content-center">
                                                    <!-- Boton editar platos -->
                                                    <button class="btn btn-outline-light btn-sm col-3"
                                                        title="Editar platos" type="button" (click)="limpiarInputs();
                                                              listaDetallePedidosXIdPedido(pedidos.idPedido);
                                                              mostrarOcultarModalitoEditDetallePedid();
                                                              modalitoInputEditDetPedid = false; 
                                                              modalitoTdEditDetPedid = true;
                                                              modalitoAgrDetPed = false;
                                                              scrollASeccion('anclaDetPedEditYList');">
                                                        <i class="far fa-edit"></i>
                                                    </button>
                                                    <!-- Boton agregar platos -->
                                                    <button class="btn btn-outline-light btn-sm col-3"
                                                        title="Agregar platos" type="button" (click)="limpiarInputs();
                                                               mostrarOcultarModalitoAgrDetPed();
                                                               modalitoEditPedid = false;
                                                               scrollASeccion('anclaAgregDetPed');">
                                                        <i class="fas fa-plus small"></i>
                                                    </button>

                                                </div>
                                                <br>




                                                <p class="card-text"><strong>Fecha: </strong>{{pedidos.fecha}}<span
                                                        class="text-white"></span></p>
                                                <p class="card-text"><strong>Hora: </strong>{{pedidos.hora}}<span
                                                        class="text-white"></span>
                                                </p>
                                                <p class="card-text"><strong>Importe:
                                                    </strong>${{pedidos.importeTotalPedido}}<span
                                                        class="text-white"></span>
                                                </p>
                                                <p class="card-text"><strong>Confirmado: </strong>
                                                    {{pedidos.pedidoConfirmado}}<span class="text-white"></span></p>
                                                <div class="d-flex justify-content-center">
                                                    <!-- boton editar -->
                                                    <button class="btn btn-sm border border-white rounded-5 text-white"
                                                        type="button" title="Editar datos del pedido" (click)="openModalEditarPedidos(templateEditarPedido);
                                                    obtPedidoXId(pedidos.idPedido,pedidos.fecha, pedidos.hora, 
                                                                pedidos.nombreCliente, pedidos.telefonoCliente, 
                                                                pedidos.direccionCliente, pedidos.localidadCliente, 
                                                                pedidos.listaPlatosDelPedido, pedidos.importeTotalPedido,
                                                                pedidos.pedidoConfirmado?? false)">
                                                        <i class="far fa-edit small"></i>
                                                    </button>

                                                    <!-- boton borrar -->
                                                    <button class="btn btn-sm border border-white rounded-5 text-white"
                                                        type="button" title="Eliminar pedido"
                                                        (click)="limpiarInputs(); eliminarPedido(pedidos.idPedido)">
                                                        <i class="far fa-trash-alt small"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="containerLink" id="">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
    </div>