/* formato de los modales */ 
.modal-menu {
    background: linear-gradient(to right, #d8a374, rgb(81, 86, 74)) !important;
    color: #fff;
    border-radius: 10px;
}




 .bordesYBackGrCardGdepPedAnteriores {
    background: url("/assets/donasBackground.jpg");
    background-size:cover;
    
}

.cardGrandepPedDia, .modalitoEditPedid {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
    background: linear-gradient(to right, #968092, rgb(246, 204, 133)) !important;
    color: #fff;
    border-radius: 10px; 
}

 .divPediAnter {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
    background: linear-gradient(to right,  #a16b97, rgb(251, 199, 111)) !important;
    color: #fff;
    border-radius: 10px; 
}

/* formato para cards con listas de pedidos anteriores */ 
.card-body{
  
    background: linear-gradient(to right,  #a16b97, rgb(160, 208, 146)) !important;
}










