
/* formato de la lista para seleccion de platos */
.pedidosClientes {
    background-image: URL('https://images.unsplash.com/photo-1551218372-a8789b81b253?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: contain ;
    background-repeat:repeat;
    color: #fff;
}

/* formato opacios para varias partes */
.containerPedidosClientes, .modalitoNgIfPedCli, .divDatosClientes, .containerConfPlaDelPed, .containerTitMenu, .btnComePed{
    color: white; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.7); /* Negro con 80% de opacidad */  
}

/* mantiene el tamaño de las imagenes del menu cuadrados */
.img-fluid {
    aspect-ratio: 1 / 1; /* Relación de aspecto cuadrada */
}

/* Contenedor de imagen */
.image-container {
    
    background-size: 70px; /* tamaño imagen del background */
    background-repeat: repeat; /* repite la imagen para que quede como tapiz */
    position: relative;
    width: 100%;
    padding-top: 100%; /* Mantiene una proporción cuadrada */
    overflow: hidden;
    border: 1px solid #17a2b8; /* Borde alrededor del contenedor */
    border-radius: 0.25rem; /* Esquinas redondeadas para el contenedor */
    background-color: transparent; /* Fondo del contenedor transparente */
}

/* Estilo del pseudo-elemento para la imagen de fondo como tapiz */
.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Asegura que la imagen cubra el contenedor */
    background-color: rgba(0, 0, 0, 0.7); /* Color negro con opacidad para el tapiz */
    z-index: 0; /* Coloca el fondo debajo del contenido principal */
}

/* Imagen dentro del contenedor */
.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ajusta la imagen para que se muestre completa */
    object-position: center; /* Centra la imagen dentro del contenedor */
    border-radius: 0.25rem; /* Esquinas redondeadas para la imagen */
    z-index: 1; /* Coloca la imagen principal sobre el fondo */
}



.textoBtnAgOCe{
    margin-bottom: 1%;
}



  /*animacion iconos o imagenes */
  .animacion {
	transition: color 0.3s ease, transform 0.5s ease;
  }
  
  .animacion:hover {
	color: #f0f0f0;
	transform: rotate(360deg);
  }
  
