
/* formato de la lista para seleccion de platos */
.pedidosClientes {
    background-image: URL('https://images.unsplash.com/photo-1551218372-a8789b81b253?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: contain ;
    background-repeat:repeat;
    color: #fff;
}

/* formato opacios para varias partes */
.containerPedidosClientes, .modalitoNgIfPedCli, .divDatosClientes, .containerConfPlaDelPed, .containerTitMenu, .btnComePed{
    color: white; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.7); /* Negro con 80% de opacidad */  
}

/* mantiene el tamaño de las imagenes del menu cuadrados */
.img-fluid {
    aspect-ratio: 1 / 1; /* Relación de aspecto cuadrada */
}

.textoBtnAgOCe{
    margin-bottom: 1%;
}




