<div class="container-fluid pedidosClientes">
    <!-- Título -->
    <div class="row align-items-center justify-content-center">
        <div
            class="col-lg-3 col-sm-6 d-flex align-items-center justify-content-center border border-2 rounded-pill containerTitMenu">
            <strong>
                <h5 class="m-0" id="anclaEditarPlaMos">MENU</h5>
            </strong>
        </div>
        <br>
        <br>
        <br>
    </div>


    <!-- Platos -->
    <div class="row mb-4" *ngIf="modalitoNgIfSelPLaMos" (click)="cerrarModalitoNgIfAlert()">
        <ng-container *ngFor="let PlatosAMostrar of platosAMostrarList; let i = index">
            <div class="col-md-6 mb-4">
                <div class="border rounded p-3 containerPedidosClientes">
                    <!-- padding y margen a cada tarjeta -->
                    <div class="row">
                        <!-- Nombre del plato -->
                        <strong class="row text-center justify-content-center">
                            <div class="col-6 animacion">
                                <i
                                    class="{{PlatosAMostrar.platos.tipoPlato.iconoTipoPlato}} opacity-50 border rounded-circle p-2"></i>
                                <h6 class="opacity-50">{{PlatosAMostrar.platos.tipoPlato.nombreTipoPlato}}</h6>
                            </div>
                            <p class="col-6 border border-danger rounded-pill p-2 mb-4">
                                {{PlatosAMostrar.platos.nombrePlato}}</p>
                        </strong>
<!-- Imagen del plato -->
<div class="col-lg-6 col-md-12">
    <div class="image-container" style="background-image: url('{{PlatosAMostrar.platos.imgPlato}}')">
        <img class="img-fluid" src="{{PlatosAMostrar.platos.imgPlato}}" alt="Plato">
    </div>
</div>







                        <!-- Descripción -->
                        <div class="col-lg-6 col-md-12 text-center divDescrpPla">
                            <p class="justify-content-center">{{PlatosAMostrar.descripcionPlatoAMostrar}}</p>
                        </div>
                        <!-- MODALITO modalitoNgIfPedCli-->
                        <div class="row justify-content-center">
                            <div class="col-lg-12 col-md-12 col-sm-6">
                                <div class="modalitoNgIfPedCli border border-success rounded m-5 p-4"
                                    *ngIf="modalitosPlaPed['modalitoNgIfPedCli_' + i]">

                                    <!-- Importe unitario -->
                                    <div class="row align-items-center justify-content-center">
                                        <div
                                            class="col-lg-6 col-md-12 d-flex flex-column align-items-center border border-warning border-1 rounded-pill p-1 mb-3">
                                            Precio unitario
                                            <strong>$ {{PlatosAMostrar.platos.precioPlato}}</strong>
                                        </div>
                                    </div>
                                    <!-- Porción -->
                                    <div class="row align-items-center justify-content-center pb-3">
                                        <div class="col-lg-4 col-md-9 d-flex flex-column align-items-center">
                                            Cantidad
                                            <input type="number" [value]="porcionesPlatosList[i]"
                                                [disabled]="disabledInpSelPla" (keydown)="handleKeydown($event)"
                                                class="form-control text-center bg-transparent text-white"
                                                id="inputSelPed1"
                                                (click)="seleccionarChekBoxSiHayPorcionPla(i); calcularTotalPlato(i)"
                                                [(ngModel)]="porcionesPlatosList[i]" min="1" max="10"
                                                name="porcionPlato_{{i}}">
                                        </div>
                                    </div>
                                    <!-- Importe total del plato seleccionado -->
                                    <div class="row align-items-center justify-content-center pb-3">
                                        <div class="col-lg-4 col-md-9 d-flex flex-column align-items-center">
                                            Importe $
                                            <input readonly type="number" name="totalPlato_{{i}}" id="inputSelPed2"
                                                [disabled]="disabledInpSelPla"
                                                class="form-control text-center bg-transparent text-white"
                                                [(ngModel)]="totalesPlatosList[i]">
                                        </div>
                                    </div>
                                    <!-- Checkbox -->
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-lg-4 col-md-9 d-flex flex-column align-items-center"
                                            title="Click para seleccionar">
                                            Agregar
                                            <input type="checkbox" [checked]="platosSeleccionadosSioNo[i]"
                                                [disabled]="disabledInpSelPla"
                                                class="form-check-input text-center border border-1 rounded-2 bg-transparent p-3"
                                                id="chekSelPed"
                                                (change)="agregarPorcionesPlaSeleccionandoChekBox(i); chekBoxSeleccion(i); getListaDatosClienteAntesEnvio(); totalPedMayCe()"
                                                title="Click para seleccionar">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- Botón para seleccionar plato -->
                    <div class="col-lg-4 containerBut text-center pt-3 justify-content-center">
                        <button class="btn btn-secondary btn-md"
                            (click)="opCloModSelecPlaMos('modalitoNgIfPedCli_' + i, i); cambiarTextoBtn(i)">
                            <p *ngIf="!botonesEstado[i]" class="textoBtnAgOCe">Agregar al pedido</p>
                            <p *ngIf="botonesEstado[i]" class="textoBtnAgOCe">Cerrar</p>
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>

    </div>

        <!-- Muestra el total del pedido para control del cliente -->

        <div class="row justify-content-center" *ngIf="totalPedMayCerp">
            <div class="col-4 alert alert-warning mx-auto" role="alert">
                <h5 class="text-center">Total pedido $: {{ calcularTotalPedido() }}</h5>
            </div>
        </div>
        <br>

    <!-- Botones para envio de platos a mostrar -->

    <div class="row justify-content-center" *ngIf="butComePed">
        <div class="col-md-12 text-center">
            <button class="btn btn-dark border border-warning" type="button"
                (click)="mostrarModalitoNgIfDatEnv(); scrollASeccion('anclaDatEnv')">
                <strong>COMENZAR PEDIDO</strong>
            </button>
        </div>
    </div>
    <br>


    <!-- DATOS CLIENTES PARA ENVIO -->

    <div class="container-fluid border rounded divDatosClientes" *ngIf="modalitoNgIfDatEnv"
        (click)="cerrarModalitoNgIfAlert()">
        <br>
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-3 col-sm-6 d-flex align-items-center justify-content-center border border-2 rounded-pill containerTitMenu"
                id="anclaDatEnv">
                <strong>
                    <h5 class="m-0">DATOS DE ENVÍO</h5>
                </strong>
            </div>
        </div>

        <form novalidate #f="ngForm" class="pedidosForm" id="formularioPedidYDetPedid">
            <div class="row pt-4">
                <div class="col-lg-4 col-md-12 mx-auto text-left form-group">
                    <label for="nombreCliente">
                        <h5 class="border border-danger rounded-pill p-2">NOMBRE</h5>
                    </label>
                    <input type="text" class="form-control border border-warning border-3" [disabled]="disabledInDatEnv"
                        id="nombreCliente" name="nombreCliente" placeholder="Nombre" [(ngModel)]="nombreCliente"
                        required>
                    <br>
                </div>
                <div class="col-lg-4 col-md-12 mx-auto text-left form-group">
                    <label for="telefonoCliente">
                        <h5 class="border border-danger rounded-pill p-2">TELEFONO</h5>
                    </label>
                    <input type="text" class="form-control border border-warning border-3" id="telefonoCliente"
                        [disabled]="disabledInDatEnv" name="telefonoCliente" placeholder="1561111111"
                        [(ngModel)]="telefonoCliente" required>
                    <br>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-lg-4 col-md-12 mx-auto text-left form-group p-3">
                    <label for="direccionCliente">
                        <h5 class="border border-danger rounded-pill p-2">DIRECCION</h5>
                    </label>
                    <input type="text" class="form-control border border-warning border-3" id="direccionCliente"
                        [disabled]="disabledInDatEnv" name="direccionCliente"
                        placeholder="Avenida Santa Fe 4444 Depto b" [(ngModel)]="direccionCliente" required>
                </div>
                <div class="col-lg-4 col-md-12 mx-auto text-left form-group p-3">
                    <label for="hora">
                        <h5 class="border border-danger rounded-pill p-2">LOCALIDAD</h5>
                    </label>
                    <input type="text" class="form-control border border-warning border-3" id="localidadCliente"
                        [disabled]="disabledInDatEnv" name="localidadCliente" placeholder="Villa Urquiza"
                        [(ngModel)]="localidadCliente" required>
                </div>
            </div>
            <br>
            <br>
            <!-- Botones para envio de datos cliente -->
            <div class="row text-center justify-content-center">
                <div class="col-12" *ngIf="butConfDatEnv">
                    <button class="btn btn-dark border border-warning" type="button"
                        (click)="mostrarModalitoNgIfConfYEnvPed(); scrollASeccion('anclaConEnvPed')">
                        <strong>CONFIRMAR DATOS DE ENVIO</strong>
                    </button>
                </div>
                <br>
                <br>
            </div>
        </form>
    </div>

    <!-- CONFIRMACION DE PLATOS DEL PEDIDO Y DATOS PARA ENVIAR EL PEDIDO A LA DB -->


    <br>
    <div class="container-fluid border rounded containerConfPlaDelPed" *ngIf="modalitoNgIfConfYEnvPed">
        <div class="row" id="anclaConEnvPed">
            <div class="row align-items-center justify-content-center">
                <div
                    class="col-lg-3 col-sm-6 d-flex align-items-center justify-content-center border border-2 rounded-pill containerTitMenu">
                    <strong>
                        <h5 class="m-0">FINALIZAR PEDIDO</h5>
                    </strong>
                </div>
                <br>
                <br>
                <br>
            </div>
            <br>
            <br>
            <div id="iDmodalitoEnviarPedido">
                <hr>
                <!-- <p class="d-flex flex-row justify-content-center h5">Pedido N° {{idPedido}}: {{mensajePedEnviadoDB}}</p> -->
                <p class="d-flex flex-row justify-content-center h5">Datos para el envio:</p>
                <br>
                <div class="row text-center">
                    <p>{{ 'Nombre Cliente: ' + nombreCliente }}</p>
                    <p>{{ 'Teléfono Cliente: ' + telefonoCliente }}</p>
                    <p>{{ 'Dirección: ' + direccionCliente }}</p>
                    <p>{{ 'Localidad: ' + localidadCliente }}</p>
                </div>
                <p class="d-flex flex-row justify-content-center h5">Platos:</p>
                <div *ngFor="let platoSeleccionado of getPlatosSeleccionados(); let i = index">

                    <ng-container *ngIf="platoSeleccionado && platoSeleccionado?.platos">
                        <div class="d-flex flex-row justify-content-center">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-primary"><strong>Plato {{ i + 1 }}: {{
                                        platoSeleccionado.platos.nombrePlato }}</strong></li>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-secondary">Precio unitario: $ {{
                                    platoSeleccionado.platos.precioPlato }}</li>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-secondary">Total: $ {{
                                    platoSeleccionado.totalPlato }}</li>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-success">Porciones: {{
                                    platoSeleccionado.porcionPlato }}</li>
                            </ul>
                        </div>
                    </ng-container>
                    <br>
                </div>
                <br>
                <div class="col-4 alert alert-warning mx-auto" role="alert">
                    <h3 class="text-center"><strong>Total pedido $: {{ calcularTotalPedido() }}</strong></h3>
                </div>
               

                <!-- MODALITONGIFALERT -->
                <div class="row" *ngIf="modalitoNgIfAlert">
                    <div class="col-lg-12 alert alert-danger d-flex align-items-center justify-content-center"
                        role="alert">
                        <i class="fas fa-exclamation-triangle fs-2"></i>
                        <div class="text-center ps-3">
                            {{ mensaje }}
                        </div>
                        <button type="button" class="btn btn-danger ms-3"
                            (click)="cerrarModalitoNgIfAlert()">Aceptar</button>
                    </div>
                </div>

                <!-- MODALITONGIFCONF -->
                <div class="row" *ngIf="modalitoNgIfConf">
                    <div class="col-lg-12 alert alert-success d-flex align-items-center justify-content-center"
                        role="alert">
                        <i class="fas fa-check-square fs-2"></i>
                        <div class="text-center ps-3">
                            <strong>
                                <h3>{{ mensaje }}</h3>
                            </strong>
                        </div>
                    </div>
                </div>              
                <div class="text-center" *ngIf="botonEnvPedido" title="Enviá tu pedido por Whatsapp">
                    <button class="btn btn-dark border border-warning" type="button" (click)="agregarPedidoYDetPed()">
                        <div class="row">
                        <i class="fab fa-whatsapp fa-2x pe-2"></i>
                        </div> 
                        <div class="row">
                        <strong>ENVIAR PEDIDO</strong>
                        </div>
                    </button>
                </div>
                <br>
                <hr>
                <hr>
                <div class="text-center" *ngIf="botonEnvPedido">
                    <button class="btn btn-sm btn-outline-light" type="button" (click)="scrollASeccion('anclaEditarPlaMos')">
                        Editar platos seleccionados
                    </button>
                </div>               
                <div class="text-center" *ngIf="botonEnvPedido">
                    <button class="btn btn-sm btn-outline-light text-white" type="button"
                        (click)="scrollASeccion('anclaDatEnv')">
                        Editar datos de envio
                    </button>
                </div>
                <br>             
            </div>
        </div>
    </div>
    <br>
</div>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />