<section class="contact-area" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="contact-content text-center">
                    <!-- Logo -->
                    <ng-container *ngIf="footerYLogoList?.[0]">
                        <a href="#">
                            <img *ngIf="footerYLogoList[0].iconoOImgAMostrar && footerYLogoList[0].iconoOImgAMostrar.startsWith('https://')"
                                [src]="footerYLogoList[0].iconoOImgAMostrar" class="img-fluid w-25 h-25 animacion"
                                alt="logo">
                        </a>
                    </ng-container>
                    <hr>

                    <!-- Dirección -->
                    <h6>
                        <ng-container *ngIf="footerYLogoList.length > 1 && footerYLogoList[1]">
                            <a *ngIf="footerYLogoList[1].urlAMostrar" [href]="footerYLogoList[1].urlAMostrar"
                                target="_blank" rel="noopener noreferrer">
                                <i [class]="footerYLogoList[1].iconoOImgAMostrar + ' p-2 animacion'"></i>
                                {{ footerYLogoList[1].textoAMostrar }}
                            </a>
                        </ng-container>
                    </h6>

                    <!-- Teléfono y WhatsApp -->
                    <div class="d-flex justify-content-center">
                        <ng-container *ngIf="footerYLogoList[2]">
                            <div class="d-flex align-items-center">
                                <i [class]="footerYLogoList[2].iconoOImgAMostrar + ' p-2 animacion'"></i>
                                <h6 class="mb-0">{{ footerYLogoList[2].textoAMostrar }}</h6>
                            </div>
                        </ng-container>
                        <span class="mx-2">|</span>
                        <ng-container *ngIf="footerYLogoList[3]">
                            <div class="d-flex align-items-center">
                                <a [href]="footerYLogoList[3].urlAMostrar" target="_blank" rel="noopener noreferrer">
                                    <i [class]="footerYLogoList[3].iconoOImgAMostrar + ' pe-2 animacion'"></i>
                                </a>
                                <h6 class="mb-0">{{ footerYLogoList[3].textoAMostrar }}</h6>
                            </div>
                        </ng-container>
                    </div>

                    <!-- Mail -->
                    <h6>
                        <ng-container *ngIf="footerYLogoList[4]">
                            <i [class]="footerYLogoList[4].iconoOImgAMostrar + ' p-2 animacion'"></i>
                            {{ footerYLogoList[4].textoAMostrar }}
                        </ng-container>
                    </h6>

                    <!-- Lista para Pedidos Ya y Rappi -->
                    <div class="contact-social ps-2" id="footer-social-icons">
                        <ul>
                            <ng-container *ngIf="footerYLogoList[8]">
                                <li>
                                    <a class="hover-target" [href]="footerYLogoList[8].urlAMostrar" target="_blank"
                                        id="elemento1">
                                        <img [src]="footerYLogoList[8].iconoOImgAMostrar" class="img-fluid animacion"
                                            id="footer-social-icons-1">
                                    </a>
                                </li>
                            </ng-container>
                            <ng-container *ngIf="footerYLogoList[9]">
                                <li>
                                    <a class="hover-target" [href]="footerYLogoList[9].urlAMostrar" target="_blank"
                                        id="elemento2">
                                        <img [src]="footerYLogoList[9].iconoOImgAMostrar" class="img-fluid animacion"
                                            id="footer-social-icons-2">
                                    </a>
                                </li>
                            </ng-container>
                        </ul>
                    </div>

                    <!-- Lista para redes sociales -->
                    <div class="contact-social" id="footer-pedyarapp-icons">
                        <h5 id="tituloRedesSo">Seguinos</h5>
                        <ul>
                            <ng-container *ngIf="footerYLogoList[5]">
                                <li>
                                    <a class="hover-target" [href]="footerYLogoList[5].urlAMostrar" target="_blank"
                                        id="icono1">
                                        <i [class]="footerYLogoList[5].iconoOImgAMostrar + ' animacion'"></i>
                                    </a>
                                </li>
                            </ng-container>
                            <ng-container *ngIf="footerYLogoList[6]">
                                <li>
                                    <a class="hover-target" [href]="footerYLogoList[6].urlAMostrar" target="_blank"
                                        id="icono2">
                                        <i [class]="footerYLogoList[6].iconoOImgAMostrar + ' animacion'"></i>
                                    </a>
                                </li>
                            </ng-container>
                            <ng-container *ngIf="footerYLogoList[7]">
                                <li>
                                    <a class="hover-target" [href]="footerYLogoList[7].urlAMostrar" target="_blank"
                                        id="icono3">
                                        <i [class]="footerYLogoList[7].iconoOImgAMostrar + ' animacion'"></i>
                                    </a>
                                </li>
                            </ng-container>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- =============== 1.9 Contact Area End ====================-->
<!-- =============== 1.9 Footer Area Start ====================-->
<footer>
    <a href="https://portfoliogabg.web.app/" target="_blank">
        <p>2024 - Developed by ðº°˜¨
            (נα∂є_иσfאָ)
            ¨˜°ºð</p>
    </a>
</footer>