<section class="contact-area" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="contact-content text-center">
                    <a href="#"><img src="{{footerYLogoList[0]?.iconoOImgAMostrar}}" class="img-fluid w-25 h-25"
                            alt="logo"></a>
                    <hr>
                    <!-- direccion-->
                    <h6>
                        <a href="{{ footerYLogoList[1]?.urlAMostrar }}" target="_blank" rel="noopener noreferrer">
                            <i class="{{ footerYLogoList[1]?.iconoOImgAMostrar }} p-2"></i>
                            {{ footerYLogoList[1]?.textoAMostrar }}
                        </a>
                    </h6>
                    <!-- telefono y whatsapp-->
                    <h6>
                        <i
                            class="{{footerYLogoList[2]?.iconoOImgAMostrar}} p-2"></i>{{footerYLogoList[2]?.textoAMostrar}}<span>|</span>
                        <a href="{{footerYLogoList[3]?.urlAMostrar}}" target="_blank" rel="noopener noreferrer">
                            <i
                                class="{{footerYLogoList[3]?.iconoOImgAMostrar}} pe-2"></i></a>{{footerYLogoList[3]?.textoAMostrar}}
                    </h6>
                    <!-- mail-->
                    <h6><i
                            class="{{footerYLogoList[4]?.iconoOImgAMostrar}} p-2"></i>{{footerYLogoList[4]?.textoAMostrar}}
                    </h6>
                    <!-- LISTA PARA PEDIDOS YA Y RAPPI-->
                    <div class="contact-social ps-2" id="footer-social-icons">
                        <ul>
                            <!-- pedidos ya-->
                            <li>
                                <a class="hover-target" href="{{ footerYLogoList[8]?.urlAMostrar }}" target="_blank"
                                    id="elemento1">
                                    <img src="{{ footerYLogoList[8]?.iconoOImgAMostrar }}" class="img-fluid"
                                        id="footer-social-icons-1">
                                </a>
                            </li>
                            <!-- rappi-->
                            <li>
                                <a class="hover-target" href="{{ footerYLogoList[9]?.urlAMostrar }}" target="_blank"
                                    id="elemento2">
                                    <img src="{{ footerYLogoList[9]?.iconoOImgAMostrar }}" class="img-fluid"
                                        id="footer-social-icons-2">
                                </a>
                            </li>
                        </ul>
                    </div>


                    <!-- LISTA PARA REDES SOCIALES-->
                    <div class="contact-social">
                        <h5>Seguinos</h5>
                        <ul>
                            <!-- instagram-->
                            <li>
                                <a class="hover-target" href="{{footerYLogoList[5]?.urlAMostrar}}" target="_blank"
                                    id="icono1">
                                    <i class="{{footerYLogoList[5]?.iconoOImgAMostrar}}"></i>
                                </a>
                            </li>
                            <!-- facebook-->
                            <li>
                                <a class="hover-target" href="{{footerYLogoList[6]?.urlAMostrar}}" target="_blank"
                                    id="icono2">
                                    <i class="{{footerYLogoList[6]?.iconoOImgAMostrar}}"></i>
                                </a>
                            </li>
                            <!-- twitter-->
                            <li>
                                <a class="hover-target" href="{{footerYLogoList[7]?.urlAMostrar}}" target="_blank"
                                    id="icono3">
                                    <i class="{{footerYLogoList[7]?.iconoOImgAMostrar}}"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- =============== 1.9 Contact Area End ====================-->
<!-- =============== 1.9 Footer Area Start ====================-->
<footer>
    <p>Copyright &copy; 2019 <img src="https://i.ibb.co/QDy827D/ak-logo.png" alt="logo"> All Rights Reserved.</p>
</footer>