img {
    max-width: 100%;
    height: auto;
}
        section {
            padding: 60px 0;
           /* min-height: 100vh;*/
        }
 ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

/* color todas las etiquetas <i> y <a> */
 i, a {
    color: #8b9199;
    text-decoration: none;
 }       



.contact-area {
    border-bottom: 1px solid #353C46; 
}

.contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
}

.contact-content p::after {
    background: #353C46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

.contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-content span {
    color: #353c47;
    margin: 0 10px;
}

.contact-social {
    margin-top: 30px;
}

.contact-social > ul {
    display: inline-flex;
}

.contact-social ul li a {
    border: 1px solid #8b9199;
    color: #8b9199;
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    width: 40px;
}

.contact-social ul li a:hover {
    border: 1px solid #c50202;
    color: #c50202;
}

.contact-content img {
    max-width: 210px;
}

section, footer {
    background: #1A1E25;
    color: #868c96;
}

footer p {
    padding: 40px 0;
    text-align: center;
}

footer img {
    width: 44px;
}

/* formato para img de pedidosya y rappi */

#footer-social-icons-1, #footer-social-icons-2{
    margin-top: -18px;
}

#footer-social-icons ul {
    list-style: none;
    padding: 0;
}

#footer-social-icons ul li {
    display: inline-block;
    margin-right: 10px; /* Espacio entre elementos li */
    vertical-align: middle; /* Alinea verticalmente los elementos */
    text-align: center; /* Centra horizontalmente los elementos */
}

#footer-social-icons ul li a {
    display: block; /* Hace que el área de clic sea todo el contenedor a */
    text-decoration: none;
    color: #8b9199;
    border: 1px solid #8b9199;
    width: 40px; /* Ancho del contenedor a */
    height: 40px; /* Altura del contenedor a */
    line-height: 40px; /* Centra verticalmente el contenido */
}

#footer-social-icons ul li a:hover {
    border: 1px solid #c50202;
    color: #c50202;
}

#footer-social-icons ul li img {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen al contenedor li */
    height: auto; /* Mantiene la proporción de la imagen */
    vertical-align: middle; /* Alinea la imagen verticalmente */
}



