<div class="container-fluid" id="container-slider">

    <div class="ContainerCenter">
      <!-- Radio Seleccionar -->
      <input type="radio" name="Carrusel" id="Slider1" checked>
      <input type="radio" name="Carrusel" id="Slider2">
      <input type="radio" name="Carrusel" id="Slider3">
  
      <div class="Carrusels">
        <!-- Imagen contenido -->
      <div class="listaCarrousel">
        <div class="Carrusel" *ngFor="let Carteleramodel of cartelera.slice(0, 3); let i = index">
          <p>{{ Carteleramodel.textoPromo }}</p>
        </div>
       
      </div>
        <!-- Flechas a la izquierda por cada imagen: NO SACAR, TRABAJAN CON EL DIV CLASS SELECTOR, PERO NO SE VEN -->
        <label for="Slider3" class="ArrowLeft Arrow1">❮</label>
        <label for="Slider1" class="ArrowLeft Arrow2">❮</label>
        <label for="Slider2" class="ArrowLeft Arrow3">❮</label>
  
        <!-- Flechas a la derecha por cada imagen NO SACAR, TRABAJAN CON EL DIV CLASS SELECTOR, PERO NO SE VEN -->
        <label for="Slider2" class="ArrowRight Arrow1">❯</label>
        <label for="Slider3" class="ArrowRight Arrow2">❯</label>
        <label for="Slider1" class="ArrowRight Arrow3">❯</label>
      </div>
  
      <!-- Selector circulos inferiores colgantes -->
      <div class="Selectors">
        <label for="Slider1" class="Selector"></label>
        <label for="Slider2" class="Selector"></label>
        <label for="Slider3" class="Selector"></label>
      </div>
    </div>
  
  </div>
