#container-slider{
    height:110vh;
    background-color: #101010;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
      font-family: Arial;
    color:White;
    font-size:min(30px, max(3.75vw, 25px));
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  
  label{cursor: pointer;}
  
  /* CONTENEDOR PARA CENTRAR */
  .ContainerCenter{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  /* INPUT */
  input{display: none}
  
  
  
  /* SLIDER */
  .Carrusels{
    height: 600px;
    width: 1250px;
    position: relative;
    overflow-x: hidden;
   
  }
  .Carrusel{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    transition: all .5s ease;
  }
  
  
  
  
  /* CONFIGURACION DE ELEMENTOS INDIVIDUALES */
  .Carrusels .Carrusel:nth-child(1) {background-image: url(https://images.unsplash.com/photo-1551782450-a2132b4ba21d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1469&q=80);}
  .Carrusels .Carrusel:nth-child(2) {background-image: url(https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);}
  .Carrusels .Carrusel:nth-child(3) {background-image: url(https://images.unsplash.com/photo-1558030137-d464dd688b00?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1631&q=80);}
  /* Estado 1 */
  #Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(0%, 0);}
  #Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(100%, 0);}
  #Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(200%, 0);}
  /* Estado 2 */
  #Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-100%, 0);}
  #Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(0%, 0);}
  #Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(100%, 0);}
  /* Estado 3 */
  #Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-200%, 0);}
  #Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(-100%, 0);}
  #Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(0%, 0);}
  
  
  /* FLECHAS */
  .Carrusels .ArrowLeft, .Carrusels .ArrowRight{
    position: absolute;
    height: 100%;
    width: 2em;
    align-items: center;
    justify-content: center;
    display: none;
    user-select: none;
    color:transparent;
  }
  .Carrusels .ArrowLeft{left: 0px;}
  .Carrusels .ArrowRight{right: 0px;}
  
  /* CONFIGURACION DE FLECHAS INDIVIDUALES */
  #Slider1:checked ~ .Carrusels .Arrow1{display: flex;}
  #Slider2:checked ~ .Carrusels .Arrow2{display: flex;}
  #Slider3:checked ~ .Carrusels .Arrow3{display: flex;}
  
  /* MEDIA QUERIES PARA AJUSTAR EL TAMAÑO DE LAS IMÁGENES DE FONDO EN DIFERENTES TAMAÑOS DE PANTALLA */
  
  /* Para pantallas de hasta 768px (tablets y celulares en orientación vertical) */
  @media (max-width: 768px) {
    #container-slider {
      aspect-ratio: 16 / 9; /* Relación de aspecto 16:9 para mantener el tamaño del contenedor */
    }
  
    .Carrusel {
      background-size: contain; /* Ajustar el tamaño de la imagen para que se vea completa dentro del contenedor */
      background-position: center center; /* Centrar la imagen tanto horizontal como verticalmente */
    }
    .Carrusels .Carrusel:nth-child(1) {background-image: url(https://images.unsplash.com/photo-1542574271-7f3b92e6c821?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);}
    .Carrusels .Carrusel:nth-child(2) {background-image: url(https://images.unsplash.com/photo-1555939594-58d7cb561ad1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);}
    .Carrusels .Carrusel:nth-child(3) {background-image: url(https://images.unsplash.com/photo-1600028068383-ea11a7a101f3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80);}
  }
  
  /* Para pantallas de 768px a 1024px (tablets en orientación horizontal) */
  @media (min-width: 768px) and (max-width: 1024px) {
    #container-slider {
      aspect-ratio: 16 / 9; /* Relación de aspecto 16:9 para mantener el tamaño del contenedor */
    }
  
    .Carrusel {
      background-size: contain; /* Ajustar el tamaño de la imagen para que se vea completa dentro del contenedor */
      background-position: center center; /* Centrar la imagen tanto horizontal como verticalmente */
    }
  }
  
  /* Para pantallas más grandes de 1024px (pantallas de escritorio) */
  @media (min-width: 1024px) {
    #container-slider {
      aspect-ratio: 16 / 9; /* Relación de aspecto 16:9 para mantener el tamaño del contenedor */
    }
  
    .Carrusel {
      background-size: contain; /* Ajustar el tamaño de la imagen para que se vea completa dentro del contenedor */
      background-position: center center; /* Centrar la imagen tanto horizontal como verticalmente */
    }
  }
  
  
  
  /* SELECTORES */
  .Selectors {
    width: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .Selectors .Selector {
    background-color: #FFF;
    height: 10px;
    width: 10px;
    display: block;
    border-radius: 5px;
  }
  /* CONDICIONALES PARA BOTÓN INFERIOR */
  #Slider1:checked ~ .Selectors .Selector:nth-of-type(1) {background-color: #999999;}
  #Slider2:checked ~ .Selectors .Selector:nth-of-type(2) {background-color: #999999;}
  #Slider3:checked ~ .Selectors .Selector:nth-of-type(3) {background-color: #999999;}
  
  
  