/* navbar.component.css */
.navbar {
    background: linear-gradient(90deg, #2c2c2c, #2c3e50); ;
    padding-top: 1rem; 
    padding-bottom: 1rem; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* padding redes y pedidosyarappi */
  #navbarNav{
    padding-left: 8%;
  }

 
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    width: 80px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    border-radius: 50%; /* Si quieres un borde redondeado */
    border: 2px solid #fff; /* Borde blanco alrededor del logo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para darle profundidad */
  }
  
  .nav-link {
    font-size: 1.2rem;
    transition: transform 0.3s;
  }
  
  .nav-link:hover {
    transform: scale(1.1);
  }
  

  .nav-item i {
    color: #ffffff;
    transition: color 0.3s, transform 0.3s;
  }
  
  /*efecto redes */
  .nav-item i:hover {
    color: #f0f0f0;
    transform: rotate(360deg);
  }

  /*efecto pedidosya rappi y logo */
  .nav-item img:hover, .navbar-brand img:hover{
    opacity: 1; /* Cambia la opacidad para hacerla más visible al hacer hover */
    transform: rotate(360deg);
    transition: transform 0.5s, opacity 0.5s; /* Añade una transición suave */
}

  
  
  @media (max-width: 767px) {
    .navbar-nav {
      text-align: center;
    }
  }
  
  