<div class="container-fluid">

 <!-- LISTA DE PEDIDOS DE LA FECHA ACTUAL -->

 <div class="row">
    <div class="col-lg-1 col-md-1 d-none d-lg-block">
        <blockquote class="blockquote border-end border-top border-white">
            <p class="small">ID DEL PEDIDO</p>
        </blockquote>
    </div>
    <div class="col-lg-1 col-md-1 d-none d-lg-block">
        <blockquote class="blockquote border-end border-top border-white">
            <p class="small">FECHA DEL PEDIDO</p>
        </blockquote>
    </div>
    <div class="col-lg-1 col-md-1 d-none d-lg-block">
        <blockquote class="blockquote border-end border-top border-white">
            <p class="small">HORA DEL PEDIDO</p>
        </blockquote>
    </div>
    <div class="col-lg-2 col-md-1 d-none d-lg-block">
        <blockquote class="blockquote border-end border-top border-white">
            <p class="small">DETALLE DEL PEDIDO</p>
        </blockquote>
    </div>
    <div class="col-lg-1 col-md-1 text-center d-none d-lg-block">
        <blockquote class="blockquote border-end border-top border-white">
            <p class="small">TOTAL PEDIDO</p>
        </blockquote>
    </div>
    <div class="col-lg-1 col-md-1 text-center d-none d-lg-block">
        <blockquote class="blockquote border-end border-top border-white">
            <p class="small">NOMBRE CLIENTE</p>
        </blockquote>
    </div>
    <div class="col-lg-1 col-md-1 text-center d-none d-lg-block">
        <blockquote class="blockquote border-end border-top border-white">
            <p class="small">TELEFONO CLIENTE</p>
        </blockquote>
    </div>
    <div class="col-lg-2 col-md-1 text-center d-none d-lg-block">
        <blockquote class="blockquote border-end border-top border-white">
            <p class="small">DIRECCION CLIENTE</p>
        </blockquote>
    </div>
    <div class="col-lg-1 col-md-1 text-center d-none d-lg-block">
        <blockquote class="blockquote border-end border-top border-white">
            <p class="small">LOCALIDAD CLIENTE</p>
        </blockquote>
    </div>
</div>
<div class="row" *ngFor="let DetallePedidosHoy of pedidosDeHoyList">
     <hr>
    <div class="col-lg-1 col-md-1 text-justify">
        <p class="text-justify">{{DetallePedidosHoy.idPedido}}</p>
    </div>
    <div class="col-lg-1 col-md-1 text-justify">
        <p class="text-justify">{{DetallePedidosHoy.fecha}}</p>
    </div>
    <div class="col-lg-1 col-md-1 text-justify">
        <p class="text-justify">{{DetallePedidosHoy.hora}}</p>
    </div>
    <div class="col-lg-2 col-md-1 text-justify">
        <p class="text-justify">{{DetallePedidosHoy.listaPlatosDelPedido}}</p>
    </div>
    <div class="col-lg-1 col-md-1 text-justify">
        <p class="text-justify">{{DetallePedidosHoy.listaPlatosDelPedido}}</p>
    </div>
    <div class="col-lg-1 col-md-1 text-justify">
        <p class="text-justify">{{DetallePedidosHoy.nombreCliente}}</p>
    </div>
    <div class="col-lg-1 col-md-1 text-justify">
        <p class="text-justify">{{DetallePedidosHoy.telefonoCliente}}</p>
    </div>
    <div class="col-lg-2 col-md-1 text-justify">
        <p class="text-justify">{{DetallePedidosHoy.direccionCliente}}</p>
    </div>
    <div class="col-lg-1 col-md-1 text-justify">
        <p class="text-justify">{{DetallePedidosHoy.localidadCliente}}</p>
    </div>
    <div class="col-lg-1 col-md-1 text-center" id="">
        <!-- Boton editar -->
        <button class="btn btn-outline-light btn-md">
            <i class="far fa-edit"></i>
        </button>
        <!-- Boton borrar -->
        <button class="btn btn-outline-light btn-md">
            <i class="far fa-trash-alt"></i>
        </button>
    </div>
</div>    



<div>==================================================================================================================================</div>
<div>==================================================================================================================================</div>
<div>==================================================================================================================================</div>



    <!-- LISTA DE PEDIDOS HISTORICA -->

    <div class="row">
        <div class="col-lg-2 col-md-1 d-none d-lg-block">
            <blockquote class="blockquote border-end border-top border-white">
                <p class="small">Nombre del plato</p>
            </blockquote>
        </div>
        <div class="col-lg-2 col-md-1 d-none d-lg-block">
            <blockquote class="blockquote border-end border-top border-white">
                <p class="small">Descripcion del plato</p>
            </blockquote>
        </div>
        <div class="col-lg-2 col-md-1 d-none d-lg-block">
            <blockquote class="blockquote border-end border-top border-white">
                <p class="small">Total Pedido</p>
            </blockquote>
        </div>
        <div class="col-lg-2 col-md-1 d-none d-lg-block">
            <blockquote class="blockquote border-end border-top border-white">
                <p class="small">Tipo de plato</p>
            </blockquote>
        </div>
        <div class="col-lg-2 col-md-1 text-center d-none d-lg-block">
            <blockquote class="blockquote border-end border-top border-white">
                <p class="small">Imagen</p>
            </blockquote>
        </div>
        <div class="col-lg-2 col-md-1 text-center d-none d-lg-block">
            <blockquote class="blockquote border-end border-top border-white">
                <p class="small">Edición</p>
            </blockquote>
        </div>
    </div>
    <div class="row" *ngFor="let DetallePedidos of detallePedidosList">
         <hr>
        <div class="col-lg-2 col-md-1 text-justify">
            <p class="text-justify">{{DetallePedidos.platosAMostrar.platos.nombrePlato}}</p>
        </div>
        <div class="col-lg-2 col-md-1 text-justify">
            <p class="text-justify">{{DetallePedidos.platosAMostrar.descripcionPlatoAMostrar}}</p>
        </div>
        <div class="col-lg-2 col-md-1 text-justify">
            <p class="text-justify">$ {{DetallePedidos.platosAMostrar.platos.precioPlato}}</p>
        </div>
        <div class="col-lg-2 col-md-1 text-justify">
            <p class="text-justify">{{DetallePedidos.platosAMostrar.platos.tipoPlato.nombreTipoPlato}}</p>
        </div>
        <div class="col-lg-2 col-md-1 pb-3">
            <img class="img-fluid rounded border-secondary-subtle border border-3"
                src="{{DetallePedidos.platosAMostrar.platos.imgPlato}}">
        </div>
        <div class="col-lg-2 col-md-1 text-center" id="">
            <!-- Boton editar -->
            <button class="btn btn-outline-light btn-md">
                <i class="far fa-edit"></i>
            </button>
            <!-- Boton borrar -->
            <button class="btn btn-outline-light btn-md">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
    </div>    
  









    <div class="container-fluid">
        <!-- PLATOS A MOSTRAR -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="border border-secondary border-2 rounded pt-4 ps-5 pe-5 mb-4" id="containerAll">
                    <div class="cardGrandePlatosMos p-4">
                        <div class="card-icon card-icon-large">
                            <i class=></i>
                        </div>
                        <div class="mb-1">
                            <h5 class="card-title pb-3 text-center">LISTA DE PLATOS A MOSTRAR</h5>
                            <div class="button-divisor pb-4 text-center">
                                <div>
                                    <button type="button" class="btn btn-outline-light btn-sm"
                                        (click)="openModalAgregarPlatosAMos(templateAgregarPlatoAMostrar); borrarInputs()">
                                        AGREGAR PLATO A MOSTRAR
                                    </button>
                                    <br>
                                    <br>

                                    <!-- MODAL AGREGAR PLATO A MOSTRAR -->

                                    <ng-template #templateAgregarPlatoAMostrar>
                                        <div class="container-fluid modal-menu">
                                            <div class="row">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">AGREGAR</h4>
                                                    <button type="button" class="btn btn-outline-light btn-sm"
                                                        (click)="modalAgregarPlatosAMos.hide()">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="row">
                                                    <form (ngSubmit)="agregarPlatoAMos()" novalidate #f="ngForm">
                                                        <div class="form-group, col-12 pb-3">

                                                            <label for="idPlato">ID PLATO</label>
                                                            <select class="form-select" id="idPlato" name="idPlato"
                                                                (click)="listaPlatosForSelect()" [(ngModel)]="idPlato"
                                                                required>
                                                                <option
                                                                    *ngFor="let MenuCompletoModel of platosListForSelect"
                                                                    [ngValue]="MenuCompletoModel.idPlato">
                                                                    {{MenuCompletoModel.idPlato}} -
                                                                    {{MenuCompletoModel.nombrePlato}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group, col-12 pb-3">
                                                            <label for="descripcionPlatoAMostrar">DESCRIPCION DEL
                                                                PLATO</label>
                                                            <textarea type="text" class="form-control"
                                                                id="descripcionPlatoAMostrar"
                                                                name="descripcionPlatoAMostrar"
                                                                [(ngModel)]="descripcionPlatoAMostrar"
                                                                required></textarea>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <button class="btn btn-outline-light">
                                                                    Enviar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                    </ng-template>
                                </div>

                                <!-- LISTA DE PLATOS A MOSTRAR -->

                                <div class="row">
                                    <div class="col-lg-2 col-md-1 d-none d-lg-block">
                                        <blockquote class="blockquote border-end border-top border-white">
                                            <p class="small">Nombre del plato</p>
                                        </blockquote>
                                    </div>
                                    <div class="col-lg-2 col-md-1 d-none d-lg-block">
                                        <blockquote class="blockquote border-end border-top border-white">
                                            <p class="small">Descripcion del plato</p>
                                        </blockquote>
                                    </div>
                                    <div class="col-lg-2 col-md-1 d-none d-lg-block">
                                        <blockquote class="blockquote border-end border-top border-white">
                                            <p class="small">Precio</p>
                                        </blockquote>
                                    </div>
                                    <div class="col-lg-2 col-md-1 d-none d-lg-block">
                                        <blockquote class="blockquote border-end border-top border-white">
                                            <p class="small">Tipo de plato</p>
                                        </blockquote>
                                    </div>
                                    <div class="col-lg-2 col-md-1 text-center d-none d-lg-block">
                                        <blockquote class="blockquote border-end border-top border-white">
                                            <p class="small">Imagen</p>
                                        </blockquote>
                                    </div>
                                    <div class="col-lg-2 col-md-1 text-center d-none d-lg-block">
                                        <blockquote class="blockquote border-end border-top border-white">
                                            <p class="small">Edición</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="row" *ngFor="let PlatosAMostrar of platosAMostrarList">
                                    <hr>
                                    <div class="col-lg-2 col-md-1 text-justify">
                                        <p class="text-justify">{{PlatosAMostrar.platos.nombrePlato}}</p>
                                    </div>
                                    <div class="col-lg-2 col-md-1 text-justify">
                                        <p class="text-justify">{{PlatosAMostrar.descripcionPlatoAMostrar}}</p>
                                    </div>
                                    <div class="col-lg-2 col-md-1 text-justify">
                                        <p class="text-justify">$ {{PlatosAMostrar.platos.precioPlato}}</p>
                                    </div>
                                    <div class="col-lg-2 col-md-1 text-justify">
                                        <p class="text-justify">{{PlatosAMostrar.platos.tipoPlato.nombreTipoPlato}}</p>
                                    </div>
                                    <div class="col-lg-2 col-md-1 pb-3">
                                        <img class="img-fluid rounded border-secondary-subtle border border-3"
                                            src="{{PlatosAMostrar.platos.imgPlato}}">
                                    </div>
                                    <div class="col-lg-2 col-md-1 text-center" id="">
                                        <!-- Boton editar -->
                                        <button class="btn btn-outline-light btn-md"
                                            (click)="openModalEditarPlatosAMos(templateEditarPlatoAMostrar); obtenerPlaMosXId(PlatosAMostrar.idPlatosAMostrar, PlatosAMostrar.platos.idPlato, PlatosAMostrar.descripcionPlatoAMostrar)">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <!-- Boton borrar -->
                                        <button class="btn btn-outline-light btn-md"
                                            (click)="borrarPlatMosMensajeAdv(PlatosAMostrar.idPlatosAMostrar)">
                                            <i class="far fa-trash-alt"></i>
                                        </button>


                                        <!-- MODAL EDITAR PLATO A MOSTRAR -->

                                        <ng-template #templateEditarPlatoAMostrar>
                                            <div class="container-fluid modal-menu">
                                                <div class="row">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">EDITAR</h4>
                                                        <button type="button" class="btn btn-outline-light btn-sm"
                                                            (click)="modalEditarPlatosAMos.hide()">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>

                                                    <div class="row">
                                                        <form (ngSubmit)="editarPlatoAMos()" novalidate #f="ngForm">
                                                            <div class="form-group, col-12 pb-3">
                                                                <label for="idPlatosAMostrar">ID PLATO A MOSTRAR
                                                                    PLATO</label>
                                                                <input type="number" class="form-control"
                                                                    id="idPlatosAMostrar" name="idPlatosAMostrar"
                                                                    [(ngModel)]="idPlatosAMostrar" required>
                                                            </div>
                                                            <div class="form-group, col-12 pb-3">
                                                                <label for="idPlato">ID PLATO</label>
                                                                <select class="form-select" id="idPlatoParaEditar"
                                                                    name="idPlato" [(ngModel)]="idPlato" required>
                                                                    <option
                                                                        *ngFor="let MenuCompletoModel of platosListForSelect"
                                                                        [ngValue]="MenuCompletoModel.idPlato">
                                                                        {{MenuCompletoModel.idPlato}} -
                                                                        {{MenuCompletoModel.nombrePlato}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group, col-12 pb-3">
                                                                <label for="descripcionPlatoAMostrar">DESCRIPCION DEL
                                                                    PLATO</label>
                                                                <textarea type="text" class="form-control"
                                                                    id="descripcionPlatoAMostrar"
                                                                    name="descripcionPlatoAMostrar"
                                                                    [(ngModel)]="descripcionPlatoAMostrar"
                                                                    required></textarea>
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <button class="btn btn-outline-light">
                                                                        Enviar
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />