<div class="container-fluid pt-2" id="container-slider-cel-unique">
  <div class="container-center-cel-unique">
    <!-- Radio Seleccionar -->
    <input class="input-cel-unique" type="radio" name="carrusel-cel-unique" id="slider-cel-unique-1" [checked]="currentIndexCel === 0">
    <input class="input-cel-unique" type="radio" name="carrusel-cel-unique" id="slider-cel-unique-2" [checked]="currentIndexCel === 1">
    <input class="input-cel-unique" type="radio" name="carrusel-cel-unique" id="slider-cel-unique-3" [checked]="currentIndexCel === 2">

    <div class="carrusels-cel-unique">
      <!-- Imagen contenido -->
      <div class="lista-carrousel-cel-unique">
        <div class="carrusel-cel-unique" *ngFor="let carteleramodel of carteleraCel.slice(3, 6); let i = index"
          [style.background-image]="'url(' + carteleramodel.urlImagenPromo + ')'" style="background-size: cover; background-position: center;">
          <p id="titulo-promo-cel-unique" class="display-5" [style.color]="carteleramodel.colorTexto">{{ carteleramodel.tituloPromo }}</p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p id="texto-promo-cel-unique" [style.color]="carteleramodel.colorTexto">{{ carteleramodel.textoPromo }}</p>
        </div>
      </div>
      <!-- Flechas a la izquierda por cada imagen: NO SACAR, TRABAJAN CON EL DIV CLASS SELECTOR, PERO NO SE RENDERIZAN -->
      <label class="label-cel-unique" for="slider-cel-unique-3" class="arrow-left-cel-unique arrow-cel-unique-1">❮</label>
      <label class="label-cel-unique" for="slider-cel-unique-1" class="arrow-left-cel-unique arrow-cel-unique-2">❮</label>
      <label class="label-cel-unique" for="slider-cel-unique-2" class="arrow-left-cel-unique arrow-cel-unique-3">❮</label>
      <!-- Flechas a la derecha por cada imagen NO SACAR, TRABAJAN CON EL DIV CLASS SELECTOR, PERO NO SE RENDERIZAN -->
      <label class="label-cel-unique" for="slider-cel-unique-2" class="arrow-right-cel-unique arrow-cel-unique-1">❯</label>
      <label class="label-cel-unique" for="slider-cel-unique-3" class="arrow-right-cel-unique arrow-cel-unique-2">❯</label>
      <label class="label-cel-unique" for="slider-cel-unique-1" class="arrow-right-cel-unique arrow-cel-unique-3">❯</label>
    </div>
    <!-- Selector circulos inferiores colgantes -->
    <div class="selectors-cel-unique">
      <label class="label-cel-unique" for="slider-cel-unique-1" class="selector-cel-unique"></label>
      <label class="label-cel-unique" for="slider-cel-unique-2" class="selector-cel-unique"></label>
      <label class="label-cel-unique" for="slider-cel-unique-3" class="selector-cel-unique"></label>
    </div>
  </div>
</div>
