<div class="container-fluid">
<div class="containerAll border border border-secondary border-2 rounded pt-4 ps-5 pe-5 mb-4">
    <div class="row text-center p-3">
        <h2>PANEL DE CONTROL</h2>
    </div>

    <div class="container containerBotones border border-3 rounded pt-5 pb-4">
        <div class="row">
            <!-- Primer grupo de botones -->


            <div class="col-lg-6">
                <!-- Boton azul -->
                <div class="mb-1">
                    <button type="button" routerLink="/pedidosplatosamos"
                        class="btn btn-primary btn-lg btn3d d-flex align-items-center justify-content-center row">
                        <div class="border border-3 rounded p-3">
                            <p class="textoBoton">PEDIDOS Y SELECCION DE PLATOS DEL DIA</p>
                            <i class="fas fa-thumbtack row iconoBoton"></i>
                        </div>
                    </button>
                </div>
                <!-- Boton verde -->
                <div class="mb-1">
                    <button type="button"  routerLink="/menucompleto"
                        class="btn btn-success btn-lg btn3d d-flex align-items-center justify-content-center row">
                        <div class="border border-3 rounded p-3">
                            <p class="textoBoton">PLATOS COMPLETOS Y TIPOS DE PLATOS</p>
                            <i class="fas fa-folder-open row iconoBoton"></i>
                        </div>
                    </button>
                </div>
                <!-- Boton celeste -->
                <div class="mb-1">
                    <button type="button" routerLink="/pedidosantydescarg"
                        class="btn btn-info btn-lg btn3d d-flex align-items-center justify-content-center row">
                        <div class="border border-3 rounded p-3">
                            <p class="textoBoton">PEDIDOS ANTERIORES</p>
                            <i class="fas fa-reply row iconoBoton"></i>
                        </div>
                    </button>
                </div>
            </div>
            <!-- Segundo grupo de botones -->
            <div class="col-lg-6">
                <!-- Boton naranja -->
                <div class="mb-1">
                    <button type="button" routerLink="/carteleras"
                        class="btn btn-warning btn-lg btn3d d-flex align-items-center justify-content-center row">
                        <div class="border border-3 rounded p-3">
                            <p class="textoBoton">CARTELERA PRIMARIA Y SECUNDARIA</p>
                            <i class="fas fa-images row iconoBoton"></i>
                        </div>
                    </button>
                </div>
                <!-- Boton rojo -->
                <div class="mb-1">
                    <button type="button" routerLink="/footerylogocrud"
                        class="btn btn-danger btn-lg btn3d d-flex align-items-center justify-content-center row">
                        <div class="border border-3 rounded p-3">
                            <p class="textoBoton">NAVBAR Y FOOTER</p>
                            <i class="fas fa-shoe-prints row iconoBoton"></i>
                        </div>
                    </button>
                </div>
                <!-- Boton fucsia -->
                <div class="mb-1">
                    <button type="button" routerLink="/homepage"
                        class="btn btn-magick btn-lg btn3d d-flex align-items-center justify-content-center row">
                        <div class="border border-3 rounded p-3">
                            <p class="textoBoton">HOME PAGE</p>
                            <i class="fas fa-home row iconoBoton"></i>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />