<div class="containerAll pt-5 pb-5">
<section class="slider-section">
    <div class="slider-container">
        <div class="slider">
            <ul class="slider-list">
                <li *ngFor="let item of carteleraSec.slice(0, 3)" class="backgroundImages border border-2 border-secondary-subtle rounded">
                    <div class="slide-item">
                        <img [src]="item.urlImagenPromo" class="img-fluid border border-1 border-secondary-subtle">
                        <div class="promo-content pt-2">
                            <h3>{{ item.tituloPromo }}</h3>
                            <p>{{ item.textoPromo }}</p>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="slider-list" aria-hidden="true">
                <li *ngFor="let item of carteleraSec.slice(0, 3)" class="backgroundImages border border-1 border-secondary-subtle rounded">
                    <div class="slide-item">
                        <img [src]="item.urlImagenPromo" class="img-fluid border border-1 border-secondary-subtle">
                        <div class="promo-content">
                            <h3>{{ item.tituloPromo }}</h3>
                            <p>{{ item.textoPromo }}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
</div>

