<div class="container-fluid">

    <!-- BOTON PARA CERRAR Y VOLVER AL PANEL DE CONTROL -->

    <div class="container-fluid">
        <div class="d-flex justify-content-end">
            <a class="btnPanelDeControl" routerLink="/paneldecontrol">
                <i class="far fa-window-close fa-3x text-secondary"></i>
            </a>
        </div>
    </div>

     <!-- BOTONES DE DESCARGAS E INFO -->

     <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="btn-group bg-success border border-secondary border-2 pt-1 ps-2 pe-1 ms-auto" id="btn-group"
                    style="margin: 0 auto;">
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <button type="button" class="btn btn-primary btn-sm rounded-pill btn-block border border-secondary"
                                (click)="mostrarOcultarModalInfo(templateModalInfo)">
                                INFO
                            </button>
                        </div>
                        <div class="col-md-12 mb-2">
                            <button type="button" (click)="exportToExcelOnClick()"
                                class="btn btn-danger btn-success btn-sm rounded-pill btn-block border border-secondary">
                                DESCARGAR LISTA COMPLETA
                            </button>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>

        <!-- MODAL QUE CON INFORMACION DE USO DEL COMPONENTE O PAGINA-->
        <div class="container-fluid">
            <ng-template #templateModalInfo>
                <div class="container-fluid modal-menu">
                    <div class="modal-header text-center">
                        <h4 class="modal-title">COMO USAR</h4>
                        <div class="">
                            <button type="button" class="btn btn-outline-light btn-sm" (click)="modalInfo.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>

     <!-- TARJETA GRANDE QUE MUESTRA LISTA DE REGISTOS DE LA TABLA FooterYLogo -->
    <div class="row">
        <div class="col-lg-12">
            <div class="border border-secondary border-2 rounded pt-4 ps-5 pe-5 mb-4" id="containerBakImg">
                <div class="cardGrandeFooYLo border border-secondary border-2 rounded p-4">
                    <div class="mb-1">
                        <h3 class="title col-12 mx-auto">DATOS DEL FOOTER Y LOGO DEL NAVBAR</h3>
                        <hr>
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <div class="col-lg-4 col-md-12 col-sm-12 text-center card-primary border border-secondary rounded mb-5 pt-2"
                                    *ngFor="let FooterYLogoModel of footerYLogoList; let i = index" [ngClass]="{
                                        'card-primary': i % 5 === 0,
                                        'card-success': i % 5 === 1,
                                        'card-warning': i % 5 === 2,
                                        'card-danger': i % 5 === 3,
                                        'card-info': i % 5 === 4}">
                                    <div class="col-12 mx-auto">
                                        <h4 class="border border-white border-2 rounded p-1">
                                            <strong>{{FooterYLogoModel.nombreDatoAMostrar}}</strong>
                                        </h4>
                                    </div>
                                    <div class="col-12 mx-auto border border-white border-1 rounded p-2">
                                        <h5 class="">
                                            Texto actual:
                                        </h5>
                                        <p class="">
                                            {{FooterYLogoModel.textoAMostrar}}
                                        </p>
                                    </div>
                                    <div class="col-12 mx-auto border border-white border-1 rounded p-2">
                                        <h5 class="">
                                            Icono/Imagen actual:
                                        </h5>
                                        <!-- url a imagen a o a icono -->
                                        <div>
                                            <div class="row align-items-center justify-content-center text-center">
                                                <!-- url a imagen -->
                                                <img class="img-fluid w-50 h-50 animacion" (error)="onImageError($event)"
                                                    [src]="FooterYLogoModel.iconoOImgAMostrar" id="zzz">
                                                <!-- url a icono -->
                                                <div class="row align-items-center justify-content-center text-center">
                                                    <i
                                                        class="{{FooterYLogoModel.iconoOImgAMostrar}} display-1 w-50 h-50 animacion"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <br>
                                        <button class="btn btn-outline-light btn-lg border border-white border-3"
                                            (click)="openModalEditarfooYLo(templateEditarFooterYLogo); obtenerXId(FooterYLogoModel.idOtrosDatos, FooterYLogoModel.nombreDatoAMostrar, FooterYLogoModel.textoAMostrar, FooterYLogoModel.urlAMostrar, FooterYLogoModel.iconoOImgAMostrar)">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <br><br>
                                    </div>
                                </div>
                            </div>
                        </div>






                        <!-- MODAL EDITAR FOOTER Y LOGO-->

                        <ng-template #templateEditarFooterYLogo>
                            <div class="modal-header" id="backGroT">
                                <h4 class="modal-title text-white">EDITAR FOOTER Y LOGO</h4>
                                <div class="card-icon card-icon-large">
                                    <i class=""></i>
                                </div>
                                <button type="button" class="btn btn-outline-light btn-sm"
                                    (click)="modalEditarFooYLo.hide();">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="container-fluid modal-menu">
                                <div class="border border-white border-2 rounded m-3 p-3" id="backGF">
                                    <div class="border border-white border-2 rounded m-3 p-3">
                                        <form (ngSubmit)="editarFooyLo()" novalidate #f="ngForm">
                                            <div class="form-group col-12 pt-3 pb-3">
                                                <label for="idOtrosDatos">ID idOtrosDatos</label>
                                                <input readonly type="number" class="form-control" id="idOtrosDatos"
                                                    name="idOtrosDatos" [(ngModel)]="idOtrosDatos" required>
                                            </div>
                                            <div class="form-group col-12 pb-3">
                                                <label for="nombreDatoAMostrar">NOMBRE DATO A MOSTRAR</label>
                                                <input readonly type="text" class="form-control" id="nombreDatoAMostrar"
                                                    name="nombreDatoAMostrar" [(ngModel)]="nombreDatoAMostrar" required>

                                            </div>
                                            <div class="form-group col-12 pb-3"
                                                title="El registro para texto acepta 60 caracteres como maximo">
                                                <label for="textoAMostrar">TEXTO A MOSTRAR</label>
                                                <input type="text" class="form-control" id="textoAMostrar"
                                                    name="textoAMostrar" [(ngModel)]="textoAMostrar" required>
                                            </div>
                                            <div class="form-group col-12 pb-3">
                                                <label for="urlAMostrar">URL A MOSTRAR</label>
                                                <input type="text" class="form-control" id="urlAMostrar"
                                                    name="urlAMostrar" [(ngModel)]="urlAMostrar" required>
                                            </div>
                                            <div class="form-group col-12 pb-3"
                                                title="El titulo de la promo acepta 21 caracteres como maximo">
                                                <a class="custom-link text-white" title="Más iconos"
                                                    href="https://fontawesome.com/v5/search?o=r&m=free"
                                                    target="_blank"><i class="fa fa-link px-1"></i>
                                                </a>
                                                <label for="iconoOImgAMostrar">ICONO O URL A IMAGEN</label>
                                                <input type="text" class="form-control" id="iconoOImgAMostrar"
                                                    name="iconoOImgAMostrar" [(ngModel)]="iconoOImgAMostrar" required>
                                                <br>
                                                <!-- Contenedor para mostrar la imagen -->
                                                <div class="d-flex justify-content-center">
                                                    <img class="img-fluid w-50 h-50 border border-white border-2 rounded"
                                                        *ngIf="iconoOImgAMostrar" [src]="iconoOImgAMostrar"
                                                        onerror="this.style.display='none'"
                                                        alt="Vista Previa de Imagen">
                                                </div>
                                                <!-- Contenedor para mostrar el ícono -->
                                                <div class="d-flex justify-content-center">
                                                    <!-- Mostrar el ícono seleccionado o ingresado manualmente -->
                                                    <i *ngIf="iconoOImgAMostrar" [class]="iconoOImgAMostrar"
                                                        class="border border-white border-2 rounded p-3 m-3"
                                                        style="font-size: 5rem; color: white;"></i>
                                                </div>


                                            </div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <button class="btn btn-outline-light" (click)="listaFooteryLogo()">
                                                        Enviar
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />