/* formato de los titulos */ 
.title {
    padding: 10px 20px;
    max-width: 60%;
    text-align: center;
    position: relative;
    border: 2px solid rgb(84, 89, 95);
    z-index: 1;
    color: #54595f;
  }
  
  .title::before {
    position: absolute;
    content: "";
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    top: -3px;
    left: -3px;
    background-image: 
    linear-gradient(135deg, #54595f 0, #54595f 20px, transparent 20px, transparent 100%),
    linear-gradient(-135deg, #54595f 0, #54595f 20px, transparent 20px, transparent 100%),
    linear-gradient(-45deg, #54595f 0, #54595f 20px, transparent 20px, transparent 100%),
    linear-gradient(45deg, #54595f 0, #54595f 20px, transparent 20px, transparent 100%);
  }

    /*animacion iconos o imagenes */
    .animacion {
        transition: color 0.3s ease, transform 0.5s ease;
      }
      
      .animacion:hover {
        color: #f0f0f0;
        transform: rotate(360deg);
      }
      


/* Cambiar el color de fondo del contenedor */
body {
    background-color: #f0f4f8; /* Color de fondo claro */
}

/* formato cartelera principal */
.cardGrandeFooYLo {
    background-color: #adad62;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 
                0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 
                0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 
                0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
  
    color: #fff;
    border-radius: 10px;
}

/* background image */
#containerBakImg {
    background: url("/assets/escritorioBackGround.jpg");
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen dentro del contenedor */
}


/* formato imagen de los modales */
.card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: relative;
    opacity: 0.1;
}

/* formato de los modales */
.modal-menu {
    background: #adad62;
    color: #fff;
}

#backGroT{
    background-color: #17a2b8;
}

#backGF{
    background-color: #dc3545; 
}

/* separa en silabas palabras largas */
p {
    overflow-wrap: break-word;
    hyphens: auto;
}

/* clases para las tarjetas */
.card-primary {
    background-color: #007bff;
    color: white;
}

.card-success {
    background-color: #28a745;
    color: white;
}

.card-warning {
    background-color: #ffc107;
    color: white;
}

.card-danger {
    background-color: #dc3545;
    color: white;
}

.card-info {
    background-color: #17a2b8;
    color: white;
}
