
#containerAll{
    background-color: #f7f3db;
}


  /*animacion iconos o imagenes */
  .animacion {
	transition: color 0.3s ease, transform 0.5s ease;
  }
  
  .animacion:hover {	
	transform: rotate(360deg);
  }
  

/* formato de los titulos */ 
.title {
    padding: 10px 20px;
    min-width: 30%;
    text-align: center;
    position: relative;
    border: 2px solid rgb(84, 89, 95);
    z-index: 1;
    color: #383c40;
    background-color: #88b0dd;
  }
  
  .title::before {
    position: absolute;
    content: "";
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    top: -3px;
    left: -3px;
    background-image: 
    linear-gradient(135deg, #54595f 0, #54595f 20px, transparent 20px, transparent 100%),
    linear-gradient(-135deg, #54595f 0, #54595f 20px, transparent 20px, transparent 100%),
    linear-gradient(-45deg, #54595f 0, #54595f 20px, transparent 20px, transparent 100%),
    linear-gradient(45deg, #54595f 0, #54595f 20px, transparent 20px, transparent 100%);
  }



/* ///////////// TARJETAS PEQUEÑAS /////////////  */ 

.card{
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
    color: #fff;
}


/* formato imagen de las tarjetas */ 
.card-icon{
    font-size: 60px;
    border-radius: 10px;
    align-items: end;

}

/* ///////////// TARJETAS GRANDES /////////////  */ 

.cardGrandeTipoPla{
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
    background: linear-gradient(to right, #0666cd, #6d6e70, #F5E1A4) !important;
    color: #fff;
}

           

/* ///////////// MODAL /////////////  */ 


/* formato imagen de los modales */ 
.card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position:relative;  
    opacity: 0.1;
}

/* formato de los modales */ 
.modal-menu {
    background-color:#F5A69B;
    color: #fff;
}

#backgTitleAgPl, #backgTitleAgPl2, #backgTitleAgTiPl, #backgTitleEdTiPl, #backGLiPlC, #bGYaNoSe{
    background-color:#e4d187;
}

#backGroundForm, #backGroundForm2, #backGroundFormTp, #backGroundFormEdTp, #listaCoP, #backGLiPlC2{
    background-color:#0666cd;  
}


/* SEPARA EN SILABAS LAS PALABRAS DEMASIADO GRANDES */ 
p {    
    overflow-wrap: break-word;
    hyphens: auto;
  }

/* BACKGROUNDS IMAGES */ 

#bordesCard, 
#bordesYBackGrCardGde, #bordesYBackGrCardCartelera, #bordesYBackGrCardCarteleraSec{
    background: url("/assets/heladosmultitranspa.png");
    background-size:cover;
}

#btn-group{
    background-color: #e4d187;
    background-size:cover
}
